{% extends 'products/base.html' %}
{% load static %}

{% block title %}
    Пароль выслан
{% endblock %}

{% block css %}
    <link href="{% static "vendor/css/profile.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h5>Мы выслали все инструкции по восстановлению пароля на вашу почту.</h5>
            <h5>С уважением команда, Cryptonymous.</h5>
            <a href="{% url "index" %}">Вернуться на главную страницу</a>
        </div>
    </div>

{% endblock %}