{% extends 'products/base.html' %}
{% load static %}

{% block title %}
    Store - Пароль успешно изменен
{% endblock %}

{% block css %}
    <link href="{% static "vendor/css/profile.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="alert alert-primary" role="alert">
            <h5>Уважаемый, {{ user.username|title }}, вы успешно изменили пароль.</h5>
            <a href="{% url "index" %}">Вернуться на главную страницу</a>
        </div>
    </div>

{% endblock %}

