{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Store - Товар добавлен</title>
    <link href="{% static "vendor/css/auth.css" %}" rel="stylesheet"/>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-body text-center">
                                <h4>
                                    Товар успешно добавлен
                                </h4>
                                <a href="{% url "product_detail" pk=product.pk %}">
                                    <button type="button" class="btn btn-primary">Просмотреть товар
                                    </button>
                                </a>
                                <a href="{% url "products" %}">
                                    <button type="button" class="btn btn-primary">Вернуться к товарам
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>