{% extends 'products/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Store - Добавление категории
{% endblock %}


{% block css %}
    <link href="{% static "vendor/css/profile.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if messages %}
        <br>
        <div class="container">
            {% for message in messages %}
                <div class="container-fluid p-0">
                    <h6 class="text {{ message.tags }}">{{ message }}
                        <a href="{% url "index" %}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="True">&times;</span>
                            </button>
                        </a>
                    </h6>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container">
        <h4 class="mt-3 mb-3">Создание категории</h4>
        <div class="row">
            <div class="col-lg-7">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="inputFirstName">Название</label>
                                {% render_field form.name class="form-control py-4" type="text" id="inputFirstName" %}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-1" for="description">Описание</label>
                                {% render_field form.description class="form-control py-4" type="text" id="description" %}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Создать">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}