{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Store - Регистрация</title>
    <link href="{% static "vendor/css/auth.css" %}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">Регистрация</h3>
                            </div>
                            {% if messages %}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                     style="margin-top: 50px;">
                                    <strong>Уважаемый пользователь!</strong>
                                    {% for message in messages %}
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <p class="text-danger">{{ form.username.errors.as_text }}</p>
                                        <p class="text-danger">{{ form.email.errors.as_text }}</p>
                                        <p class="text-danger">{{ form.password1.errors.as_text }}</p>
                                        <label class="small mb-1" for="inputEmailAddress">Имя пользователя</label>
                                        {% render_field form.username class="form-control py-4" id="inputEmailAddress" type="text" placeholder="Введите имя пользователя" %}
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="email">Email</label>
                                        {% render_field form.email class="form-control py-4" id="email" type="text" placeholder="email" %}
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword1">Пароль</label>
                                        {% render_field form.password1 class="form-control py-4" type="password" id="inputPassword1" placeholder="Введите пароль" %}
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword2">Повторите пароль</label>
                                        {% render_field form.password2 class="form-control py-4" type="password" id="inputPassword2" placeholder="Повторите пароль" %}
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <input class="btn btn-primary" type="submit" value="Авторизоваться">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="{% static "vendor/js/auth-admin.js" %}"></script>
</body>
</html>